button {
    background-color: #28587B;
    /* Green */
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin: 0;
    position: absolute;
    left: 46%;
}

textarea {
    background: #9FB4C7;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1019px;
    height: 239px;
    left: 210px;
    top: 155px;
}

body {
    background: #7F7CA5;
}

h1, h3, p {
    text-align: center;
}